source https://api.nuget.org/v3/index.json
source https://daily.websharper.com/nuget
storage: none

nuget Microsoft.AspNetCore.All 2.0.5
nuget FSharp.Core
nuget WebSharper
nuget WebSharper.FSharp
nuget WebSharper.AspNetCore
nuget WebSharper.Mvu
nuget PeopleApi